html {
  font-family: Helvetica;
  text-align: center;
}


h1, a, .links, .design {
  color: white;
}

h1, h2, h3, .design {
  font-weight: bold;
}

h1{
  font-size: 70px;
}

a {
  font-size: 18px;
}

h2 {
  font-size: 32px;
}

h3 {
  font-size: 23px;
}

p {
  font-size: 14px;
}

.boarder {
  background-image: url("https://s3.amazonaws.com/codecademy-content/programs/freelance-one/broadway/images/the-flatiron-building.png");
}

.design {
  font-size: 23px;
  background-image: url("https://s3.amazonaws.com/codecademy-content/programs/freelance-one/broadway/images/the-flatiron-building.png");
}

.links {
  font-size: 11px;
  background-color: dimgray;
  text-align: left;
}
