html {
  font-family: Helvetica;
  text-align: center;
}


h1, a, .links, .design {
  color: white;
}

h1, h2, h3, .design {
  font-weight: bold;
}

h1{
  font-size: 70px;
}

a {
  font-size: 18px;
}

h2 {
  font-size: 32px;
}

h3, .design {
  font-size: 23px;
}

p {
  font-size: 14px;
}

.design, .border {
 background-image: url("broadway.jpg");
}

.links {
  font-size: 11px;
  background-color: dimgray;
  text-align: left;
}
